.header {
    text-align: center;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(39, 202, 202) ;
    text-shadow: black 2px 4px;
    font-size: 25px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    display: flex;
    margin-bottom: 5px;
    
}
.navbar a {
  padding-top: 15px; 
  float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}.navbar a:hover{
 color: #555;
    
}

body {
    margin: center;
    padding-left: 150px;
    padding-right: 150px;
  background-color:white;
    
}section{

width: 100%;
height:650px;
background: url(349835.jpg);
position: relative;
overflow:hidden;
}
footer {
    width: 100%;
    background-color: #222;
    padding: 15px 0px;
    color: white;
    text-align: center; 
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram{
    background: rgb(17, 52, 80);
    color: white;
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
  