.icon-bar {
    width: 90px; 
    background-color: #555; 
}

.icon-bar a {
    display: block;
    text-align: center; 
    padding: 16px; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: rgb(121, 115, 115); /* Add a hover color */
}


.active {
    background-color: #4CAF50; /* Add an active/current color */
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
  background-color:white;
    
}section{

width: 100%;
height:650px;
background: url(349835.jpg);
position: relative;
overflow:hidden;




}.overlay{

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 255,.7)

}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    display: flex;
    margin-bottom: 5px;
    
}

.navbar a {
  padding-top: 15px; 
  float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}.navbar a:hover{
 color: #555;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(39, 202, 202) ;
    text-shadow: black 2px 4px;
    font-size: 25px;
}

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}


@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
  footer {
    width: 100%;
    background-color: #222;
    padding: 15px 0px;
    color: white;
    text-align: center; 
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram{
    background: rgb(17, 52, 80);
    color: white;
}