.header {
    text-align: center;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(39, 202, 202) ;
    text-shadow: black 2px 4px;
    font-size: 25px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    display: flex;
    margin-bottom: 5px;
    
}
.navbar a {
  padding-top: 15px; 
  float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}.navbar a:hover{
 color: #555;
    
}

body {
    margin: center;
    padding-left: 150px;
    padding-right: 150px;
  background-color: white;
    
}section{

width: 100%;
height:650px;
background: url(349835.jpg);
position: relative;
overflow:hidden;
}
footer {
    width: 100%;
    background-color: #222;
    padding: 15px 0px;
    color: white;
    text-align: center; 
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram{
    background: rgb(17, 52, 80);
    color: white;
}
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}
